html {
  box-sizing: border-box;
  font-size: calc(60% + 0.8vmin);
}
body{
    font-family: Proxima Nova;
    margin: 0px;
}

.custom-scrollbar::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

body.modal-overflow {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: inherit;
}

ul,
ol {
  /* list-style-type: none; */
  padding: 0;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
}

nav ul {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

label {
  font-weight: normal;
  padding-bottom: 10px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table td,
.table th {
  vertical-align: middle;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  margin: 0;
  font-weight: bold;
}

button {
  appearance: none;
  background: transparent;
  text-transform: none;
  border: none;
  cursor: pointer;
}

img,
video {
  max-width: 100%;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed !important;
}
button[disabled]:hover {
  opacity: 1 !important;
}

blockquote {
  margin: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a {
  transition: all 200ms linear;
}
